.container{
display: block;
background-color: white;
height: 100vh;


}
.main_div {
  display: flex;
justify-content: center;
}
.text_div h2{
text-align: center;
}




.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:145px;
  height:32px;
  border-width:0px;
  color:rgba(24, 24, 24, 1);
  cursor:pointer;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  background:rgb(248, 244, 244);
}
.date_div{
border-width: 1px 0px 2px 0px;
border-style: solid;
padding: 1px 0 25px 0;

}

              

.dot_div{
  text-align:center;
  margin-right: 3rem;
  
}
.dot {
  height: 35px;
  width: 35px;
  border: 1px solid rgb(25, 128, 212);
  border-radius: 50%;
  display: inline-block;
  margin: 0 7px 0 4px ;
  
}
.dot:hover{
  background-color: rgb(25, 128, 212);
}
.slot_div{
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
 
}
.slot_div div {
  border: 1px solid rgb(46, 105, 184);
  margin: 0px 5px 0 5px ;
  border-radius: 7px;
width: 5rem;
text-align: center;
height: 5rem;
 
}

.input_div {
background-color: white;
	border-radius:13px;
	border: 1px solid #c9c2c2;
	display:inline-block;
	cursor:pointer;
color:black;
	font-family:Arial;
	font-size:13px;
	padding:13px 10rem;
	text-decoration:none;
  margin-top: 1rem;
}

.input_div:active {
	position:relative;
	top:1px;
}
.radio_div{
margin: 15px 0 5px 0;

}
.input_div1{
  background-color: black;
	border-radius:20px;
	border: 1px solid #c9c2c2;
	display:inline-block;
	cursor:pointer;
color: white;
	font-family:Arial;
	font-size:13px;
	padding:13px 10rem;
	text-decoration:none;
  margin-top: 2rem;
  margin-left: 3rem;

}